#### Inspiration
- Purpose with this file is to learn the pandas library. Look at the links below for inspiration.

[Basics](https://jakevdp.github.io/PythonDataScienceHandbook/)

[Blandat](https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html)

[Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

In [1]:
import pandas
pandas.__version__

'1.0.5'

In [1]:
import pandas as pd # import pandas under the alias pd
import numpy as np

#### Series object

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [9]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [10]:
data.index

RangeIndex(start=0, stop=4, step=1)

Series as generalized NumPy arrays:

In [7]:
# Make your own indicies and call
data = pd.Series([0.25, 0.5, 0.75, 1], index=[1,'b','c','hej']) #We can use many "type" of indicies as numbers and they dont have to be ordered.
data['hej']
data.values
data.index

Index([1, 'b', 'c', 'hej'], dtype='object')

In [32]:
# Series as dictionaries
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population_dict

population = pd.Series(population_dict)
population
#population['California']
#population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

##### Constructing series  object

In [30]:
# pd.Series(data, index=index) # General construction of series. data can ba almost any entity. index optional argument
pd.Series([1,2,3])
pd.Series(5, index=[1,2,3])
pd.Series({2:'a', 1:'b', 3:'c'})
pd.Series({2:'a', 1:'b', 3:'c'}, index=[2,1]) # NOTE: only returns the indicies values.

2    a
1    b
dtype: object

#### Pandas DataFrame objects

In [31]:
# dictionary to series
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [34]:
# Creates a data frame with variables from above in a smooth way.
states = pd.DataFrame({'population':population, 'area':area}) 
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [47]:
# Indexing 
print(states.index)
print(states.columns)
states['population']['California'] #
states['population']
#states['California'] - ERROR. WHY?

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')

38332521

#### Constructing DataFrame objects

In [49]:
# Constructing a single object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [51]:
# Any list of dictionary can be transformed to a DataFrame.
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [52]:
# When it occurs NaN-values python will just fill them as just NaN.
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### Pandas Index Object

In [4]:
# create a data frame index object
index = pd.Index([2, 3, 5, 7, 11])
index

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [9]:
# Run each line
#index[1]
index[::2]

Int64Index([2, 5, 11], dtype='int64')

One difference between Index objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via the normal means:

In [10]:
index[0] = 1

TypeError: Index does not support mutable operations

#### Index as ordered sets

In [11]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [12]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [13]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [14]:
indA ^ indB  # symmetric difference. These are the elements that are in A or B but not in their intersection.

Int64Index([1, 2, 9, 11], dtype='int64')

or

In [15]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [16]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [19]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')